<footer class="container">
    <div class="float-right">
        <i class="fa fa-facebook-official" style="font-size:24px;color:#7f8f98;margin-right:10px"></i>
        <i class="fa fa-linkedin-square" style="font-size:24px;color:#7f8f98;margin-right:10px"></i>
        <i class="fa fa-twitter-square" style="font-size:24px;color:#7f8f98;margin-right:10px"></i>
        <i class="fa fa-pinterest-square" style="font-size:24px;color:#7f8f98;margin-right:10px"></i>
        <i class="fa fa-google-plus-official" style="font-size:24px;color:#7f8f98;margin-right:10px"></i>
        <i class="fa fa-instagram" style="font-size:24px;color:#7f8f98;margin-right:10px"></i>
    </div>
        
    <p>&copy; 2018 Credit-Suisse &middot; <a href="#">Terms</a></p>
    <p class="float-right"><a href="#">Back to top</a></p>
</footer>